body
{
	background-color:black;
}

h1 {
	color: white;
}

.adventure {
	height: 500px;
}

.adventure-text {
	font-family: 'Droid Sans Mono', sans-serif;
	color: white;
}

.clickable {
	font-weight: bold;
	cursor: pointer;
}